<link rel="stylesheet" type="text/css" href="app/components/unauthorized/register/registerView.css">

<form id="register-form" ng-controller="RegisterController">
    <div>
        <label for="username">Username:</label>
        <input ng-model="username" id="username" class="input-text" type="text">
    </div>
    <div>
        <label for="email">E-mail:</label>
        <input ng-model="email" id="email" class="input-text" type="text">
    </div>
    <div>
        <label for="password">Password:</label>
        <input ng-model="password" id="password" class="input-text" type="password">
    </div>
    <div>
        <label for="retypePassword">Confirm Password:</label>
        <input ng-model="retypePassword" id="retypePassword" class="input-text" type="password">
    </div>
    <div>
        <input type="submit" ng-click="register()" value="Register">
    </div>
</form>