<link rel="stylesheet" type="text/css" href="assets/css/registerView.css">

<style></style>
<form id="register-form">
    <div>
        <label for="username">Username:</label>
        <input id="username" class="input-text" type="text">
    </div>
    <div>
        <label for="email">E-mail:</label>
        <input id="email" class="input-text" type="text">
    </div>
    <div>
        <label for="password">Password:</label>
        <input id="password" class="input-text" type="password">
    </div>
    <div>
        <label>Confirm Password:</label>
        <input class="input-text" type="password">
    </div>
    <div>
        <input type="submit" value="Register">
    </div>
</form>