#register-form {
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#register-form input[type="submit"] {
    margin: 0 auto;
    clear: both;
    display: block;
}