<style>
#login-form {
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
</style>
<form id="login-form" ng-controller="LoginController as vm">
    <div>
        <input ng-model="vm.username" id="username" class="input-text form-item" placeholder="Username" type="text">
    </div>
    <div>
        <input ng-model="vm.password" id="password" class="input-text form-item" placeholder="Password" type="password">
    </div>
    <div>
        <input type="submit" class="form-button form-item" ng-click="vm.login($event)" value="Login">
    </div>
</form>
