
<link rel="stylesheet" type="text/css" href="app/components/unauthorized/login/loginView.css">

<style>
#register-form label {
  display: inline-block;
  width: 180px;
  text-align: right;
}
#login-form {
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
</style>
<form id="login-form" ng-controller="LoginController as vm">
    <div>
        <label for="username">Username</label>
        <input ng-model="vm.username" id="username" class="input-text" type="text">
    </div>
    <div>
        <label for="password">Password</label>
        <input ng-model="vm.password" id="password" class="input-text" type="password">
    </div>
    <div>
        <input type="submit" ng-click="vm.login()" value="Login">
    </div>
</form>
