<link rel="stylesheet" type="text/css" href="app/components/play/playView.css">

<div id="play-container" ng-controller="PlayController as vm">
    <textarea ng-model="vm.history" class="scrollbar" readonly id="history">
        {{vm.history}}
    </textarea>
    <div id="command-bar">
        <input for="execute" my-enter="vm.executeCommand()" ng-model="vm.command" type="text">
        <button id="execute" ng-click="vm.executeCommand()"><span class="glyphicon glyphicon-arrow-right"></span>
        </button>
    </div>
</div>