<link rel="stylesheet" type="text/css" href="app/components/play/playView.css">

<div id="play-container" ng-controller="PlayController as vm">
    <textarea tabindex="0" ng-model="vm.history" readonly id="history">
        {{vm.history}}
    </textarea>
    <div id="command-bar">
        <input tabindex="0" for="execute" my-enter="vm.executeCommand()" ng-model="vm.command" type="text">
        <button tabindex="0" id="execute" ng-click="vm.executeCommand()"><span class="glyphicon glyphicon-arrow-right"></span>
        </button>
    </div>
</div>