html {
    --play-text-color: #0079EA;
    --play-background-color: black;
}

#play-container {
    width: 50%;
    height: 50%;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    overflow: hidden;
    margin: auto;
}

#history {
    width: 100%;
    height: 90%;
    outline: none;
    resize: none;
    text-shadow: 0 0 0 #000;
    vertical-align: middle;
    border: none;
    background: var(--play-background-color);
    color: var(--play-text-color);
    font-family: customFont;
}

#history:focus {
    outline: none;
}

#command-bar {
    margin: auto;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    font-family: customFont;
}

#command-bar:focus {
    outline: none;
}
#command-bar input{
    font-family: customFont;
}

#command-bar input {
    position: relative;
    width: 100%;
    margin: 0 auto;
    border: none;
    background: var(--play-background-color);
    color: var(--play-text-color);
}

#command-bar input:focus {
    outline: none;
}

#execute{
    color: var(--play-text-color);
    border: none;
    background: black;
}

#execute:focus{
    outline:none;
}

#history::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: var(--play-background-color);
    border-radius: 5px;
}

#history::-webkit-scrollbar
{
    width: 5px;
    background-color: var(--play-background-color);
}

#history::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    background-image: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(1, var(--play-text-color)));
}
