<a class="button" ui-sref="authorized.play" id="play" ng-controller="PlayController">Play</a>
<a class="button" ui-sref="authorized.change-password" id="change-password" ng-controller="ChangePasswordController">Change
    Password</a>
<a class="button" ui-sref="authorized.load" id="load" ng-controller="LoadController">Load</a>
<a class="button" ui-sref="authorized.save" id="save" ng-controller="SaveController">Save</a>
<a class="button" ui-sref="authorized.logout" id="logout" ng-controller="LogoutController">Logout</a>