<div class = "action">
    <div><a ui-sref="unauthorized.sidenav" id="sidenav" class="button" ng-controller="SidenavController">Sidenav</a> </div>
    <div><a ui-sref="unauthorized.play" id="play" class="button" ng-controller="PlayController">Play</a></div>
    <div><a ui-sref="unauthorized.login" id="login" class="button" ng-controller="LoginController">Login</a></div>
    <div><a ui-sref="unauthorized.register" id="register" class="button" ng-controller="RegisterController">Register</a></div>
</div>
<div ui-view></div>