<div ng-controller="SidenavController">
    <md-sidenav md-component-id="left" md-is-open="isSidenavOpen">
        <div class="sidenav-button-div">
            <md-button id="outerNavButton" ng-click="toggleMenu()">&#x2261;</md-button>
        </div>
        <a class="button" ui-sref="unauthorized.play" id="play" ng-controller="PlayController">Play</a>
        <a class="button" ui-sref="unauthorized.login" id="login" ng-controller="LoginController">Login</a>
        <a class="button" ui-sref="unauthorized.register" id="register" ng-controller="RegisterController">Register</a>
    </md-sidenav>
    <div class="sidenav-button-div">
        <md-button id="innerNavButton" ng-click="toggleMenu()">&#x2261;</md-button>
    </div>
    <md-content ui-view></md-content>
</div>