<div>
    <form>
        <div>
            <label>Old Password</label>
            <input id="oldPassword" class="input-text" type="password">
        </div>
        <div>
            <label>New Password</label>
            <input id="newPassword" class="input-text" type="password">
        </div>
        <div>
            <label>Retype New Password</label>
            <input id="retypedNewPassword" class="input-text" type="password">
        </div>
        <div>
            <input type="submit" value="Change Password">
        </div>
    </form>
</div>