<div>
    <form>
        <div>
            <input id="oldPassword" class="input-text form-item" placeholder="Old Password" type="password">
        </div>
        <div>
            <input id="newPassword" class="input-text form-item" placeholder="New Password" type="password">
        </div>
        <div>
            <input id="retypedNewPassword" class="input-text form-item" placeholder="Retype New Password" type="password">
        </div>
        <div>
            <input type="submit" class="form-button form-item" value="Change Password">
        </div>
    </form>
</div>