<div>
    <form>
        <div>
            <input id="oldPassword" class="input-text" placeholder="Old Password" type="password">
        </div>
        <div>
            <input id="newPassword" class="input-text" placeholder="New Password" type="password">
        </div>
        <div>
            <input id="retypedNewPassword" class="input-text" placeholder="Retype New Password" type="password">
        </div>
        <div>
            <input type="submit" value="Change Password">
        </div>
    </form>
</div>