html {
    --text-color: #0079EA;
}

.form {
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.input-text {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid var(--text-color);
}

.input-text:focus {
    background: transparent;
}

.form .form-button {
    background-color: transparent;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    margin: 0 auto;
    clear: both;
    display: block;
}

.form-button:focus {
    outline: none;
}

.form-item {
    margin: 5px;
    width: 250px;
    color: var(--text-color);
}

.input-text:-webkit-autofill{
    -webkit-transition-delay: 9999s;
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
}

