html {
    --text-color: #0079EA;
}

body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    text-align: center;
    background-color: black;
    text-decoration-color: var(--text-color);
}

md-content {
    height: 100%;
    width: 100%;
    //background-image: url(../img/background.jpg);
    text-align: center;
}

label {
    position: relative;
    text-align: left;
    font-size: 20px;
    color: var(--text-color);
    font-family: fantasy;
}

.input-text {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid var(--text-color);
}

.form-button{
    background-color: transparent;
    border: 1px 1px 1px 1px;
}

.form-item{
    width: 100px;
    color: var(--text-color);
}


.input-text:focus {
    background-color: transparent;
}
