#login-form{
    width: 20%;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#login-form label{
    clear: both;
    float: left;
    display: block;
    position: relative;
}

#login-form input[class="input-text"]{
    display: inline-block;
    float: right;
}
#login-form input[type="submit"]{
    margin: 0 auto;
    clear: both;
    display: block;
}