html{
    --sidenav-text-color:#CE03CE;
    --background-color: black;
    --invert-sidenav-text-color: black;
    --invert-background-color: #CE03CE;
}

a.sidenav-list-entry:hover {
    color: var(--invert-sidenav-text-color);
    background-color: var(--invert-background-color);
}

a.sidenav-list-entry:focus {
    outline: none;
}

a.sidenav-list-entry {
    font-size: 2.3vw;
    border: none;
    display: block;
    text-decoration: none;
    font-family: fantasy;
    color: var(--sidenav-text-color);
}

md-sidenav {
    background-color: var(--background-color);
    box-shadow: 10px 10px 5px #888888;
}

.sidenav-button-div {
    overflow: hidden;
}

.sidenav-button {
    min-height: 0;
    min-width: 0;
    padding: 0 10px 0 10px;
    display: inline-block;
    text-align: center;
    font-size: 3em;
    color: var(--sidenav-text-color);
    background-color: var(--background-color);
}

#outerNavButton:hover, #innerNavButton:hover {
    color: var(--invert-sidenav-text-color);
    background: var(--invert-background-color);
}

#outerNavButton {
    float: right;
}

#innerNavButton {
    float: left;
}